body{
    background-color: #293d7e;
    position: fixed;
}
.head{
    width: 130px;
    height: 100px;
    border: 20px solid #6E91CA;
    border-bottom: 0;
    border-radius: 90px 90px 0px 0px;
    margin-top: 50px;
    

}
.phone{
    background-color: #6E91CA;
    width: 60px;
    height: 80px;
    border-radius: 0px 20px 30px 30px;
    -webkit-box-reflect: right 50px;
    
}
.all{
    justify-content: center;
}